*{
    padding: 0;
    margin: 0;
    font-family: 'Popins', sans-serif;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    background: #031F4E;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Quiz box  */
.box{
    max-width: 50rem;
    width: 90%;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 12px;
    padding: 20px 40px 40px 40px;
}

/* Quiz Game  */
h2{
    padding: 20px 40px 20px 0px;
    color:#031F4E;

}

/* Question  */
.question{
    color: #031F4E;
    padding: 20px 20px 20px 10px;
    font-size: 16px;
    font-weight: 400;
}

ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Options  */
ul li{
    list-style: none;
    padding: 10px;
    margin: 10px;
    border: 2px solid #031F4E;
    color: #031F4E;
    cursor: pointer;
    border-radius: 5px;
}

.hover:hover{
    background-color: #031F4E;
    color: white;
    transition: all 0.2s;
}
@media (max-width: 768px) {
    ul li:hover {
        background-color: inherit; 
        color: inherit;            
        transition: none;          
    }
}

/* used in js  */
.correct{
    background: rgb(64, 206, 64);
}
.incorrect{
    background: rgb(177, 28, 28);
    color:#fff;
}
/* used in js */

/* next button  */
button{
    min-width: 20%;
    padding: 10px;
    margin: 0 40%;
    border: none;
    border-radius: 5px;
    background: #031F4E;
    color: #fff;
    cursor: pointer;
}